# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Movie_Recommend\MovieManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
